.flexbox-container {
    display: flex;
    background-color: #fefaf6;
}

.main {
    flex: 1;
    padding-left: 2%;
}

.sidebar {
    flex: 1;
    padding-left: 1%;
}

#canvas {
    position: relative;
    width: 816px;
    /* 8.5 inches * 96 dpi */
    height: 1344px;
    /* 14 inches * 96 dpi */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid #ccc;
}

.textbox {
    position: absolute;
    background: white;
    cursor: move;
    transform-origin: center;
    font-family: 'Arial Narrow';
    /* font-size: 0.625em; */
    background: transparent;
}

.draggable-container {
    position: absolute;
    cursor: grab;
    resize: both;
}

.container-controls {
    display: block;
    visibility: hidden;
    margin-bottom: 5px;
    font-size: xx-small;
}

#uploadButton,
#addTextboxButton,
.popup button {
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: #dac0a3;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: monospace;
    text-align: center;
    text-decoration: none;
}

.button {
    /* Add transition for smoother effect */
    transition: transform 0.3s ease;
}

.button:active {
    /* Scale down the button on click */
    transform: scale(0.85);
}

h1,
h2,
p,
label,
ul {
    font-family: monospace;
}

span {
    font-weight: bold;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
}

.popup input {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 12px;
    font-family: monospace;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    font-family: monospace;
}

@page {
    size: legal;
    margin: 0in;
}

@media print {
    body {
        visibility: hidden;
    }

    #canvas {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
    }

    .textbox {
        border: none !important;
        resize: none;
    }
}