body {
    background-color: #fefaf6;
    font-family: monospace;
    font-size: 14px;
    margin-left: 5%;
    margin-right: 5%;
}

.hidden {
    display: none;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dac0a3;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s ease;
    /* Add transition for smoother effect */
}

.button:active {
    transform: scale(0.85);
    /* Scale down the button on click */
}

.emphasize {
    font-weight: 800;
    font-size: larger;
}

.textbox {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.width-wider {
    width: 350px;
}

.width-narrow {
    width: 60px;
}

.textbox:focus {
    outline: none;
    border-color: #FFD1D1;
}

.label {
    font-size: 16px;
    font-weight: bold;
}